div {
    color: #0000ff;
}
p {
    text-align: center;
    background-color: #a9d2f3;
}

h2 {
    text-align: center;
    background-color: #ca6767;
    color : #ffffff;
}

h1 {
    text-align: center;
    color : #0000ff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ca6767;
}

ol,ul,#Nutrition {
    background-color: #afaad8;
}
ol li h5 {
    text-align: justify;
    font-size: 1em;
    color: blue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}